<h1>Your Own Dictionary</h1>
<h3>Your Word Entries</h3>
<ul>
  <% @words.each() do |word| %>
    <li><a href="/words/<%=word.id() %>"><%= word.name() %></a></li>
  <% end %>
</ul>

<h3>Add a word here</h3>
<a href="/words/new" id='add-word'>Add a New Word</a>
