<h1>Add Words</h1>

<p>Add your new word here:</p>

<form action="/words" method="post">
  <label for "name">Your Word</label>
  <input id = "name" name = "name" type = "text">
  <button type = "submit" class = "btn-success">Add Word</button>
</form>
